.border{
  border: 1px solid red;
}
.justifyBetween {
    @apply flex justify-between items-center;
  }
 
  .navbar-link {
      font-size: 1.1rem;
      text-transform: uppercase;
      transition: color 0.12s linear;
  }
  .navbar-link:hover {
      color: #5f6fff;
  }
  .navbar-link--cart{
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: color 0.12s linear;
  }
/* absolute  bottom-2 left-4 bg-[#8490ff] rounded-full */
.cartQuantity{
  position: absolute;
  bottom: 17px;
  left: 17px;
  background: #5767fc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  text-align: center;
}

/* Mobile Navbar */
.main-mob-nav{
  position: absolute;
  top: 4rem;
  right: 0;
  background: rgb(243 244 246 );
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out;
}
