/* text-center my-5 text-3xl md:text-4xl font-medium */

.justifyBetween {
    @apply flex justify-between items-center;
  }
.justifyCenter {
    @apply flex justify-center items-center;
  }
 
.main-heading{
   text-align: center; 
   margin: 20px 0 20px 0;
   font-size:1.25rem;
   line-height: 2.5rem;
   font-weight: 500;
}
@media (min-width: 768px) {
    .main-heading{
        font-size: 2.25rem/* 36px */;
        line-height: 2.5rem/* 40px */;
    }
}
img{
    cursor: pointer;
}