.productDataWarranty {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.productWarrantyData {
    text-align: center;
}
.warrantyIcon {
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem;
  }
.abledbutton{
    background-color: #2ab1c3;
    width: 100%;
    border-radius: 0.5rem/* 8px */;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.disabledbutton{
    background-color: #97f3ff;
    width: 100%;
    border-radius: 0.5rem/* 8px */;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    cursor: not-allowed;
}