
.button{
    background-color: #2ab1c3;
    border: 1px solid rgb(219, 219, 219);
    width: 43%;
    font-size: small;
    border-radius: 0.25rem/* 8px */;
    padding-top: 0.40rem/* 12px */;
    padding-bottom: 0.40rem/* 12px */;
    font-weight: 600;
    color: #242424;
}
:hover.button{
    background-color: #c5c5c5;
    color: #ffffff;
}

.justifyCenter{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.main{
    overflow: hidden;
}
.main:hover h1{
    text-decoration: underline;
}
.main:hover img{
    overflow: hidden;
    transition: scale 300ms ease-in-out;
    scale: 1.1;
}